    body {
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin: 20px;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: #a79280 ;
    }
    fieldset {
      margin-bottom: 20px;
      padding: 15px;
      border: 2px solid #cc8d80;
      border-radius: 8px;
      color: #fffff0;
      background-color: #a8b9bd;
    }
    legend {
      font-weight: bold;
      color: #fffff0;
    }
    label {
      display: inline-block;
      margin: 5px 0;
      color: floralwhite;
    }
    form {
      background-color: navajowhite;
      width: 70%;
      padding: 20px;
      margin: auto;
      border-radius: 30px;
      border: 7px solid;
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.65);
    }